

.title{
    margin-top: 3vw;
    height: 17vw;
    background-color: rgba(184, 28, 0, 1);
}

.title h1{
    font-family: MADEmirage;
    color: rgba(252, 247, 241, 1);
    padding-top: 11%;
    text-align: center;
    font-size: 5vw;
}

.presentacionVianda, .imagenes{
    margin: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    align-items: center;

}

.mision, .vision, .valores{
    padding: 15%;
    
}

.mision, .vision{
    padding: 10%;
    text-align: center;
}
.presentacionVianda img{
    width: 40vw;
}

.imagenes{
text-align: justify;
justify-self: center;
 padding-left: 10%;
}

.personalidadVianda h1{
    text-align: center;
    color: rgba(184, 28, 0, 1);
}

@media (min-width:800px){
    .title{
        height: 10vw;
    }

    .title h1{
        padding-top: 4%;

    }

    .personalidadVianda{
        margin: 5%;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:1em;
        
    } 


 

}


@media (max-width:800px){

    .imagenes{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap:3em;
        text-align: justify;
        
        
    }
    #videoV{
        padding-left: 15%;
        width: 67vw;
    }

    .fachadaV{
        grid-template-rows: auto;
        grid-row: 1/2;
        justify-self: center;
    }

    #fachadaVFoto{
        width: 58vw;
    }
   
    
}


