@import url('https://fonts.cdnfonts.com/css/josefin-sans');

/* General */
#tablaInter {
    width: 100%;
}

/* Tarjetas de Calidades */
.card-desc-custom {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Términos de Cocción */
.descripcion-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6rem;
}

.terminos-img {
    max-height: 600px;
    object-fit: cover;
    width: 100%;
}

.terminos-title {
    font-family: 'MADE Mirage', serif;
    color: rgba(184, 28, 0, 1);
    font-size: 3rem;
    margin-bottom: 0;
}

.terminos-subtitle {
    font-family: 'MADE Mirage', serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: #333;
}

.terminos-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
    color: rgba(184, 28, 0, 1);
}
