
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

.left {
    background-color: #2A2E3A;
    color: white;
}

.left img {
    height: 10rem;
}

.robot {
    font-family: Roboto;
}

h5.caption {
    font-family: Josefin Sans;
    display: flex;
    justify-content: center;
}

.caption {
    font-family: Josefin Sans;
    display: flex;
    justify-content: left;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 30rem;
}

img.icon-card {
    width: 3em;
    height: 2em;
}

.imagePaypal {
    display: flex;
    justify-content: center;
}

.imagePaypal img {
    width: 20rem;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 1em;
}

button.btn {
    background-color: #2A2E3A;
    color: white;
}

button.btn:hover {
    background-color: #2A2E3A;
    color: white;
}

a svg {
    width: 2rem;
    margin-top: 2em;
    fill: white;
}