@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');

                
body{
background-color: white;
}

/*
----Barra de navegación e intro
*/

.header {
    background-color: #FCF7F1;
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    align-content: center;
    
    }
    
    #VMlogo{
        width: 25vw;
    }
    
    .blockSearch{
        height: 3vw;
        margin: 3%;
    }
    
    .blockSearch span{
        font-size: 1.2vw;
        background-color: white;
        padding: 0.3vw;
        position: relative;
        cursor: pointer;
        z-index: 1;
    
    }

    
    #miCuenta{
       margin-top: 11%;
       margin-left: 60%;
        font-size:1.5vw;
        text-decoration: solid;
    }
    
    
    .searchBar{
        border-radius: 2%;
        margin-left: 20%;
        height: 2vw;
        width: 25vw;
    
    }
    
    #shoppingCart{
        margin-top: 12%;
        margin-right: 80%;
       text-align: center;
        font-size: 2vw;
     color: rgba(35, 34, 34, 1);
     position:right;
    
    }
    
    .headerBar{
        display: grid;
          
    }
    .navbar{
        background-color:rgba(35, 34, 34, 1);
        display: flex;
        align-items: center;

    }
    
    header nav ul{
        margin-right: 10vw;
        margin-left: 10vw ;
        list-style: none;
        cursor: pointer;
        font-size: 1.5vw;
        color: rgba(252, 247, 241, 1);
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap:8vw;

    }
    
   header nav ol li{
    text-align:center;   
    }


    .headerCel{
        display: none;
        background-color: #FCF7F1;
        list-style: none;

    }
    
    #VMlogo2{
        margin-right: 2%;
        width: 35vw;
        
    }

    #menuHambu{

        margin-left: 25%;
        color:rgba(173, 48, 25, 1);
    }

    #menuHambuLinea{
        font-size: 4vw;
        color: rgba(173, 48, 25, 1);
    }

    #shoppingCart2{
        margin-right: 10%;
        font-size: 3vw;
        color: rgba(173, 48, 25, 1);
    }

 @media (max-width:800px){
    .headerCel{
        display:block;
    }
 }

 @media (max-width:800px){
    .header{
        display:none;
    }

    header nav ul{
        display: none;
    }
 }  


/*
----Barra de navegación e intro
*/

.center {
  display: grid;
  align-items: center;
  justify-content: center;
}
/*
Zona de trabajo Fran INICIO
*/
.btn-rojo{
 background-color: #B81C00!important;
 border-color: #B81C00!important;
}
@font-face {
    font-family: MADEmirage;
    src: url(../font/MADE\ Mirage\ Regular.otf);
}
@font-face {
    font-family: dreamyEyes;
    src: url(../font/dreamy-eyes.ttf);
}
.contenedor-titulo{

    height:154px; 
}
.titulo{
    
    font-family: MADEmirage;
    font-size: 128px;
    color: #B81C00;
}
.bg-azuloscuro{
    background-color: #232222;
}
.mapa{
    width:415px;
    height:430px;
    border:0;
    margin-top: 54px;
    margin-bottom: 54px;
}
.formulario{
    width: 351px;
    /* height: 471px; */
}
.info-contacto{
    display: inline-flex;
    
    width: 351px!important;
    height: 70px!important;
}
.icono{ 
    width:  60px!important;
    height: 70px!important;

}

.izquierda-centro {
    display: flex;
    align-items: center;
    justify-content: left;
  }
.info{ 
    width:  291px!important;
    height: 70px!important;
 font-family: dreamyEyes;
 color: #fff;
}
.img-icon{
    
    width:  30px!important;
    height: 30px!important;
}
.linea-baja{
    border-bottom: #fff solid 1px;
    margin-bottom: 27px;
}
/*
Zona de trabajo Fran FIN
*/