@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/josefin-sans');

            
body{
background-color: white;
}
.toast-body{
    color:#fff!important;
}
/*
----Barra de navegación e intro
*/


/*
----Barra de navegación e intro
*/

/* .center {
  display: grid;
  align-items: center;
  justify-content: center;
} */
/*
Zona de trabajo Fran INICIO
*/
body {
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  }
.center {
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* .center-nav{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}  */
/* @media only screen and (min-width: 800px) {
    .navbar {
        max-height: 41px;
    }
    
}
@media only screen and (max-width: 799px) {
    .navbar {
        max-height: 100px;
    }
    
} */
/* .barraMenu{
    margin: 0!important;
    padding: 0!important; 
    max-height: 41px!important;
    font-size: 1rem;
} */


@font-face {
    font-family: Josefine;
    src: url(../font/Josefin_Sans/JosefinSans-Regular.ttf);
}

.btn-celeste{ 
 background-color: #84A3B7!important;
 border-color: #84A3B7!important;
 margin-bottom: 10px;
 width: 191.83px;
height: 55px;
font-size: 24px!important;
font-family: 'Josefin Sans', sans-serif;
color: white;
border-radius: .5rem;
}

.title {
    margin-top: 5vw;
    height: 16vw;
    background-color: rgba(184, 28, 0, 1);
  }
  
  .title h1 {
    font-family: 'MADE Mirage';
    src: url(./fonts/MADE\ MIRAGE/);
    color: rgba(252, 247, 241, 1);
    padding-top: 11%;
    text-align: center;
    font-size: 4vw;
    font-weight: 400;
  }


  @media (min-width:800px) {
    .title {
      height: 8vw;
    }
  
    .contenedor {
      flex-direction: row;
      padding: 0 120px;
    }
  
    .title h1 {
      padding-top: 3%;
    }
  }
  
@media (max-width: 768px) {
    .title {
      height: 8vw;
    }
  
    .title h1 {
      font-size: 3vw;
      padding-top: 8%;
    }
  }
  @media (max-width: 768px) {
  .title {
    height: 8vw;
    padding: 10%;
  }

  .title h1 {
    font-size: 5vw;
    padding: 4%;
  }
}

  @media (max-width: 480px) {
    .title {
      height: 10vw;
    }
  
    .title h1 {
      font-size: 5vw;
      padding-top: 6%;
    }
  }

.bg-azuloscuro{
    background-color: #232222;
    /*max-height: 649px;*/
    padding: 30px!important;
}
.col-md-6{
    /* margin-right: 10%;
    margin-right: 10%; */
    /* position: relative; */
padding: 5%;
display: grid;
grid-auto-rows: max-content;
justify-content: center;

}
.mapa-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px!important;
  }
.mapa{
    position: relative;
   justify-content: center;
    width:45vw;
    height:50vw;
    max-height: 480px;
    border:0;
    /* margin-right: 25%; */ 
    /* margin-bottom: 54px;*/
}

.formulario{
    width:350px; 
}
form{
    
    width:100%; 
}


  
@media (max-width: 380px) { 
    
    .info-contacto{
        display: inline-flex;
        
        width: 300px!important;
        height: 60px!important;
    }
}

.row2{
    margin-left: 5%;
    display: grid;
    grid-auto-columns: max-content;
}
.info-contacto{
    display: inline-flex;
    
    width: 351px!important;
    height: 60px!important;
}
.izquierda-centro{ 
    width:  40px!important;
    height: 60px!important;

}

.izquierda-centro {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 310px;
  }
.info{ 
    width: 310px!important;
    height: 60px!important;
    font-family: Josefine;
    color: #fff;
    line-height: 18px;
    letter-spacing: 1.3px;
    text-align: justify;
}
.img-icon{
    color: yellow!important;
    width:  30px!important;
    height: 30px!important;
}
.linea-baja{
    border-bottom: #fff solid 1px;
    margin-bottom: 27px;
}
.conjunto-inputs{
    width: 100%;
    padding-bottom: 55px!important;
}
@media (max-width: 768px) { 
    .conjunto-inputs{
        padding-bottom: 80px!important;
    }

     
}


@media (max-width: 873px) { 
    .conjunto-inputs{
        padding-bottom: 80px!important;
        
    }
}
.input-box-VM{
    height: 38px!important;
}
.inputs-VM{
    /*height: 25px!important;*/
    width: 350px!important;    
    border-radius: 1em!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)!important;
}
.text-VM{
    width: 350px!important;
    height: 86px!important;
    border-radius: 1em!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)!important;
    
} 

@media (max-width: 320px) {
    .conjunto-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px!important;
    } 
    .inputs-VM{
        /*height: 25px!important;*/
    width: 15rem!important;
    max-width: 15rem!important;
    }
    .text-VM{
    width: 15rem!important;
    height: 6rem!important;
    max-width: 15rem!important;
    }
    .info {
        display: flex;
        justify-content: center;
        width: 280px!important;
        height: 60px!important;
        font-family: Josefine;
        color: #fff; 
        line-height: 18px;
        letter-spacing: 1px;
        margin-left: 10px;
        text-align: justify;
        font-size:14px;
    }
    
    .img-icon {
        margin-left: 20px;
        color: yellow!important;
        width: 1.5rem!important;
        height: 30px!important;
        padding: 0rem;
    }
    
   
    }
  
     
   
 


/*
Zona de trabajo Fran FIN
*/
