
/* :::::Pie de Pagina */

@font-face {
    font-family: Mirage-medium;
    src: url("../font/MADE\ Mirage\ Regular.otf") 
}

@font-face {
    font-family: Mirage-bold;
    src: url("../font/MADE-Mirage-Bold.otf") 
}



.pie-pagina{
    width: 100%;
    background-color: #fcf7f1;
}

.icono{
    text-decoration: none;
    font-size: 1.6rem;
    color: #84A3B7;
}

.enlaces a {
    margin-top: 1rem;
  
    padding: 0;
    
  }
  .enlaces .icono {
    margin: 0 1rem;
  }
.encabezadof {
    font-size: 2rem;
    font-family: Mirage-bold;
    color: #84A3B7;
}
.itemfooter{
    font-family: Mirage-medium;
    text-decoration: none;
    font-size: 1.2rem;
    color: #84A3B7;

}
.copy{
 margin-top: .2rem;

 background-color: #232222;
 color: #fcf7f1;
 max-height: 8rem;
}
.collapse{
    line-height:2rem
}

.copytexto{
    font-family: Mirage-medium;
    text-decoration: none;
    
}
.imagenlogo{
    display: block;
    width: 20rem;
}
     

.icono{
font-size: 1.6rem;

    }
.enlaces .icono {
    margin: 0 .8rem;
}
    @media only screen and (max-width: 320px) {
        .imagenlogo {
         display: none;
        }
    
        .itemfooter{
            font-family: Mirage-medium;
            text-decoration: none;
            font-size: .810rem;
        
        }
  
        .enlaces{
           padding-right:2em ;
          
           }
           .enlaces .icono {
            margin: 0 .4rem !important;
            padding-left: .2rem;
            padding-right: .12rem;
                }

                .encabezadof {
                    font-size: 1.3rem !important;
                    font-family: Mirage-bold;
                    color: #84A3B7;
                }
                .icono{
                    font-size: 1.8rem !important;
                }
    }
        
        @media only screen and (max-width: 360px) {
            .imagenlogo {
             display: none;
            }
    
            .itemfooter{
                font-family: Mirage-medium;
                text-decoration: none;
                font-size: .810rem;
            
            }
      
            .enlaces{
               padding-right:2em ;
              
               }
               .enlaces .icono {
                margin: 0 .8rem ;
                padding-left: .2rem;
                padding-right: .12rem;
                    }

                    .encabezadof {
                        font-size: 1.3rem !important;
                        font-family: Mirage-bold;
                        color: #84A3B7;
                    }
                    .icono{
                        font-size: 1.8rem !important;
                    }
        }
        @media only screen and (max-width: 400px) {
            .imagenlogo {
             display: none;
            }
    
            .itemfooter{
                font-family: Mirage-medium;
                text-decoration: none;
                font-size: .810rem;
            
            }
            .icono{
                font-size: 1.8rem !important;
            }
            .encabezadof {
                font-size: 1.3rem !important;
                font-family: Mirage-bold;
                color: #84A3B7;
            }
          
               .enlaces .icono {
                margin: 0 .2em;
                    }
                    
        }
    
    @media only screen and (max-width: 420px) {
        .imagenlogo {
         display: none;
        }
        .encabezadof {
            font-size: 1.3rem;
            font-family: Mirage-bold;
            color: #84A3B7;
        }
        .itemfooter{
            font-family: Mirage-medium;
            text-decoration: none;
            font-size: .810rem;
        
        }
        .icono{
            font-size: 1.8rem;
        }
        .encabezadof {
            font-size: 3.3rem ;
            font-family: Mirage-bold;
            color: #84A3B7;
        }
        .enlaces{
            padding-right: 10rem;
          
           }
           .enlaces .icono {
            margin: 0 .4em;
                }
    }
    

    @media only screen and (max-width: 450px) {
        .imagenlogo {
         display: none;
        }
   
        .itemfooter{
            font-family: Mirage-medium;
            text-decoration: none;
            font-size: .810rem;
        
        }
        .icono{
            font-size: 1.8rem ;
        }
        .encabezadof {
            font-size: 1.3rem;
            font-family: Mirage-bold;
            color: #84A3B7;
        }
        .enlaces {
            position: relative;
           left: 4.7rem !important; 
           }
      
         
    }
    @media only screen and (max-width: 502px) {
        .imagenlogo {
         display: none;
        }
        .encabezadof {
            font-size: 2.3rem;
            font-family: Mirage-bold;
            color: #84A3B7;
        }
        .itemfooter{
            font-family: Mirage-medium;
            text-decoration: none;
            font-size: .810rem;
        
        }
        .icono{
            font-size: 2.6rem;
        }
        .enlaces {
            position: relative;
           left: 4rem !important; 
           }
          
        }

    @media only screen and (max-width: 525px) {
        .imagenlogo {
         display: none;
        }
        .encabezadof {
            font-size: 2.3rem;
            font-family: Mirage-bold;
            color: #84A3B7;
        }
        .itemfooter{
            font-family: Mirage-medium;
            text-decoration: none;
            font-size: .810rem;
        
        }
        .icono{
            font-size: 2.6rem;
        }
        .enlaces {
            position: relative;
           left: 6.5rem 
           }
          
        }
        @media only screen and (max-width: 581px) {
            .imagenlogo {
             display: none;
            }
            .encabezadof {
                font-size: 2.3rem;
                font-family: Mirage-bold;
                color: #84A3B7;
            }
            .itemfooter{
                font-family: Mirage-medium;
                text-decoration: none;
                font-size: .810rem;
            
            }
            .icono{
                font-size: 2.6rem;
            }
            .enlaces {
                position: relative;
               left: 6.5rem 
               }
              
            }
        
    

  @media screen and (max-width: 767px){



   
        .icono{
            font-size: 2rem;
           
        }
        .imagenlogo{
            display: none ;
          } 
       
              .container .col-md-2,
              .container .col-md-3,
              .container .col-md-4 {
              border-bottom: 1px solid #84A3B7;
              padding-bottom: 10px;
              margin-bottom: 10px;
              }
              .icono{
                  font-size: 2.6rem;
                 
              }
              .enlaces {
                position: relative;
                width: 16rem;
                Left: 7rem;
               }
            }

            @media only screen and (min-width: 768px) {
                .encabezadof{
                    pointer-events: none;
                 }
              .collapse {
                display: none;
                 }
              
                .imagenlogo {
                  width: 12rem;
                 position: relative;
                 right: 50px;
                }
                .encabezadof {
                    font-size: 1.3rem;
                    font-family: Mirage-bold;
                    color: #84A3B7;
                }
                .itemfooter{
                    font-family: Mirage-medium;
                    text-decoration: none;
                    font-size: .810rem;
                
                }
                .enlaces {
                    position: relative;
                    right: 3.3rem
                   }
              
                }
    
    @media only screen and (min-width: 1024px) {
        
        .itemfooter{
            font-family: Mirage-medium;
            text-decoration: none;
            font-size: 1.1rem;
        
        }
        .imagenlogo {
            width:16rem;
            display: flex;
            justify-content: flex-start;
          }
          .icono{
            font-size: 1.7rem;
           
        }
        .enlaces .icono {
            margin: 0 1.3rem;
          }
          }

  @media only screen and (min-width: 1200px) {
    .imagenlogo {
      width:25rem;
      display: flex;
      justify-content: flex-start;
    }
    .encabezadof {
        font-size: 2rem;
        font-family: Mirage-bold;
        color: #84A3B7;
    }
    .itemfooter{
        font-family: Mirage-medium;
        text-decoration: none;
        font-size: 1rem;
    
    }
    .icono{
        font-size: 2rem;
       
    }
    .enlaces {
        position: relative;
        right: 0rem
       }
        
      }
   /* ****************** Animations ***************** */

footer a {
    transition: all 0.3s;
}

footer a:hover {
    transform: scale(1.5);
}