/* ----Cuerpo de Inicio---- Trabaja Andy */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.principales {
    width: 582px;
    height: 41px;
    font-family: 'MADE Mirage';
    src: url(./fonts/MADE\ MIRAGE/);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.32px;
    color: #B81C00;
    text-align: center;
    position: absolute;

}

@media (max-width: 760px) {
    .principales {
        width: 80%;
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .principales {
        width: 80%;
        font-size: 26px;
    }
}



.somos {
    width: 961px;
    height: 176px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.32px;
    color: #000000;

}

/* Segundo Carrusel */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {

    height: 195px;
    margin: auto;

    position: relative;
    width: 1310%;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 16s linear infinite;
    display: flex;

}

.slider .slide {
    height: 100px;
    width: 250px;
}

/* Segundo Carrusel */


/*Responsive */



.carousel-inner img {
    width: 100%;
    height: auto;
}

@media (max-width: 760px) {
    .carousel-inner img {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .carousel-inner img {
        width: 50%;
    }
}


.card-1 {
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/JosefinSans-Bold.ttf);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000000;

}

.card-2 {
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/JosefinSans-Medium.ttf);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}



#botonindex{
    position: absolute;
    width: 121px;
    height: 41px;
    background: #20465F;
    color: white;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 16px;
    border-radius: 10px;
}

.terminos {
    display: flex;
    max-width: 100%;
    height: 400px
}

.coccion {
    margin: auto;
    text-align: center;
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/JosefinSans-Bold.ttf);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.32px;
    color: #000000;
}

.somos2 {
    margin: auto;
    width: 961px;
    height: 176px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    text-align: left;
    letter-spacing: -0.32px;
    color: #000000;

}

.card_bandera{
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
}
