/*
----Barra de navegación e intro
*/

.header {
    background-color: #FCF7F1;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    height: 4vw;


}

.headerDestok .barraMenu {
    font-size: 1.3vw;
    cursor: pointer;
    margin-left: 10%;

}

.iconos {
    display: grid;
    grid-auto-flow: column;

}

#lupa {
    margin-top: 7%;
    font-size: 1.2vw;
    color: rgba(132, 163, 183, 1);

}

#VMlogo {
    margin-left: 20%;
    margin-top: 2%;
    width: 10vw;
}


.dropdownBuscador {
    margin-top: 1.4vw;
    margin-left: 115%;
    margin-right: 20%;
}

#miCuenta {
    background-color: rgba(132, 163, 183, 1);
    color: rgba(252, 247, 241, 1);
    margin-top: 15%;
    margin-bottom: 18%;
    margin-left: 50%;
    font-size: 1.1vw;
    text-decoration: solid;
    text-align: center;
    border-radius: 30px;
}




#shoppingCart {
    background-color: rgba(132, 163, 183, 1);
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 50%;
    margin-bottom: 25%;
    text-align: center;
    font-size: 1vw;
    color: rgba(252, 247, 241, 1);
    position: right;
    border-radius: 30px;

}

.headerBar {
    display: grid;

}

.navbar {
    background-color: rgba(132, 163, 183, 1);
    display: grid;
    text-align: center;
    height: 3.5vw;
}


header nav ul {
    background-color: #84A3B7;
    /* margin-top: 1%; */
    margin-right: 0vw;
    margin-left: 5vw;
    list-style: none;
    cursor: pointer;
    font-size: 1.5vw;
    color: rgba(252, 247, 241, 1);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 8vw;
    text-align: justify;
    margin-bottom: 10%;

}

.barraMenu {
    margin-bottom: 2vw;
}

.headerDestok .barraMenu {
    height: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    margin-left: 3%;


}


header nav ol li {
    text-align: center;
}


.headerCel {
    display: none;
    background-color: #FCF7F1;
    list-style: none;
    height: 13vw;

}

.navbar-nav {
    background-color: transparent;
    font-size: 3vw;
    gap: 0.1vw;
}

.offcanvas-header {
    background-color: #FCF7F1;
}

#VMlogo2 {
    margin-left: 8%;
    margin-top: 2%;
    margin-right: 1%;
    width: 35vw;

}

#menuHambu {
    margin-top: 4vw;
    margin-bottom: 1vw;
    margin-left: 40%;
    color: rgba(132, 163, 183, 1);
}

#menuHambuLinea {
    font-size: 4vw;
    color: rgba(132, 163, 183, 1);
}

.navbar-toggler {
    margin-top: 25%;
}

.btn-close {
    font-size: 3vw;
}


#shoppingCart2 {
    margin-right: 10%;
    /* margin-bottom: 3vw; */
    margin-right: 10%;
    margin-left: 3%;
    font-size: 4vw;
    color: rgba(132, 163, 183, 1);
    border-radius: 30px;
}

.copytexto {
    font-size: 0.7rem;
}

@media (max-width:800px) {
    .headerCel {
        display: block;
    }
}

@media (max-width:800px) {
    .header {
        display: none;
    }

    header nav ul {
        display: none;
    }

    .navbar {
        display: none;
    }
}

/*
----Barra de navegación e intro
*/

/* ----Cuerpo de Inicio---- Trabaja Andy */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.principales {
    width: 582px;
    height: 41px;
    font-family: 'MADE Mirage';
    src: url(./fonts/MADE\ MIRAGE/);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.32px;
    color: #B81C00;
    text-align: center;
    position: absolute;
}

.somos {
    width: 961px;
    height: 176px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.32px;
    color: #000000;

}

/* Primer Carrusel */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slider {

    height: 195px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1310%;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 16s linear infinite;
    display: flex;

}

.slider .slide {
    height: 100px;
    width: 250px;
}

/* Segundo Carrusel */



.container {
    margin-block-end: 20px;
    display: flex;
    justify-content: space-between;
}




.card-1 {
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/JosefinSans-Bold.ttf);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #000000;

}

.card-2 {
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/JosefinSans-Medium.ttf);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.card-3 {
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/JosefinSans-Light.ttf);
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    position: absolute;
    width: 140.38px;
    height: 35.84px;
}

.btn-primary {
    position: absolute;
    width: 121px;
    height: 41px;
    background: #20465F;
    color: white;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 16px;

}

.terminos {
    display: flex;
    max-width: 100%;
    height: 400px
}

.coccion {
    margin: auto;
    text-align: center;
    font-family: 'Josefin Sans';
    src: url(./Josefin_Sans/JosefinSans-Bold.ttf);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.32px;
    color: #000000;
}

.somos2 {
    margin: auto;
    width: 961px;
    height: 176px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    text-align: left;
    letter-spacing: -0.32px;
    color: #000000;

}