
.left {
    background-color: #2A2E3A;
    color: white;
}

.left img {
    height: 10rem;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 30rem;
    margin-bottom: 1rem;
}

.imagePaypal {
    display: flex;
    justify-content: center;
}

.imagePaypal img {
    width: 20rem;
}

ul {
    list-style: none;
}

button.btn {
    background-color: #2A2E3A;
    color: white;
}

a svg {
    width: 2rem;
    display: flex;
    margin-left: 4em;
    margin-top: 5em;
}