/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
    
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');

@font-face {
    font-family: dreamyEyes;
    src: url(../font/dreamy-eyes.ttf);
} 

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header{
    background-color: #B81C00!important;
}
.card-title{
    color: #fff;
    font-family:dreamyEyes ;
    font-size: 20px;
    letter-spacing: 1px;
}
.btn-primary{
    background-color: #232222!important;
    border: #232222!important; 
    border: solid!important; 
    border: 1px!important;
    margin-top: 1rem!important;
}
input {
    border-radius: 1em!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}
textarea {
    border-radius: 1em!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}
.card{
    border-radius: 0%!important;
    background-color: #fcf7f1!important; 
    
}
.card-bory{
    border: #B81C00!important;
}
.card-header:first-child{
    border-radius: 0%!important;

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #fff!important;
    color:#232222!important;
}
.nav-link{
    color: #fff!important;
}

.btnPerfil{
    padding: 1%;
    text-align: center;
   color: #fff;
   text-decoration: none;
}
.btnPerfil:hover{
    border-radius: 4px;
    background-color: #fff;
    color: #232222;
    text-decoration:solid, 10px;
 }
 

  /*
  ------MAYOREO
  */

.bg-perfil-oscuro{ 
    background-color: #2a2e3a!important; 
}

.txt-blanco{ color: #fff!important; }

.box_bg-rojo{
    margin-top: 1rem!important;
    display: grid;
    width: auto;
    grid-template-rows: max-content;
    text-align: center;
    background-color: #B81C00;
    height:7vw;  
    margin-top: 7.5vw!important;
}

.box_bg-rojo_titulo{ 
    font-family: MADEmirage;
    font-size: 5VW; 
    color: #fff;
    margin-top: 1%!important;
}

/*---- Seccion mensaje ----*/
.messege-section{
    max-width: 70vw;
    font-family: dreamyEyes;
    font-size: 36px;
    text-align: center;
    letter-spacing: 1px;
    margin: 2rem 0 ;
    line-height: 1.1;
}

@media (max-width:860px){
    .messege-section{
        max-width: 80vw; 
        font-size: 30px;  
    }
}
@media (max-width:760px){
    .messege-section{
        max-width: 90vw; 
        font-size: 25px;  
    }
}
@media (max-width:560px){
    .messege-section{
        max-width: 100vw; 
        font-size: 20px;  
    }
}

/*---- Seccion formulario ----*/

.form-section{
    /*background-color: rgba(0, 255, 64, 0.575);*/
    width: 35vw;
    height: 420px;
    font-family: dreamyEyes;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    margin: 1rem 0 ;
}

@media (max-width:860px){
    .form-section{
        width: 50vw; 
        font-size: 20px;  
    }
}
@media (max-width:760px){
    .form-section{
        width: 70vw; 
        font-size: 20px;  
    }
}
@media (max-width:560px){
    .form-section{
        width: 100vw; 
        font-size: 20px;  
    }
}

.form-section_input{
    width: 100%; 
    margin: 0;
    padding: 0;
}

.form-section_textarea{
    width: 100%;
    height: 86px; 
}

.form-section_box-btn{
    width: 100%;
    height: 60px; 
    display: flex;
    justify-content:left;
    align-items: center;

    margin-top: 1rem;

}
.btn-celeste{ 
    background-color: #84A3B7!important;
    border-color: #84A3B7!important;
    margin-bottom: 10px;
    width: 191.83px;
    height: 55px;
    font-size: 24px!important;
    font-family: dreamyEyes;
}

.wrapperPass{
    position: relative;
}


.wrapperPass i{
    position: absolute;
    right: 5%;
    top:50%;
    transform:translateY(-50%);
    font-size: 2vw;
    color: #7A1212;
    cursor: pointer;
    /* display: none; */
    
}

/*
.ajusteHeader{
    height:7.5vw;
   width: 1vw;
   
}
@font-face {
    font-family: MADEmirage;
    src: url(../font/MADE\ Mirage\ Regular.otf);
}

@font-face {
    font-family: Mirage-bold;
    src: url("../font/MADE-Mirage-Bold.otf")
}

@font-face {
    font-family:Josefine;
    src: url("../font/Josefin_Sans/JosefinSans-Regular.ttf")
}

@import url('https://fonts.cdnfonts.com/css/josefin-sans%27');


.fondoform {

    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  } 

#Titulo1 {
    display: grid;
    width: auto;
    grid-template-rows: max-content;
    margin-bottom: 2rem;
    color: black;
    font-size: 2.25rem;
    margin-top: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

#Titulo2 {
    display: grid;
    width: auto;
    grid-template-rows: max-content;
    margin-bottom: 2rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.p1 {
    font-family: 'Josefin Sans', sans-serif;
}

.p2 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#btnAgregar {
    margin-top: 4rem;
    background: linear-gradient(180deg, #B81C00 40.88%, #7A1212 96.49%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    width: 100%;
    color: white;

}

#btnAgregar:hover {
    background-color: #2A2E3A !important;
    border-color:  #2a2e3a !important;
    box-shadow: 0px 8px 8px 4px rgba(0, 0, 0, 0.25);
  }

input.form-control {
    border-radius: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.contenedorform {
    max-width: 30rem;
    width: 30rem;
    height: 50rem;
    background-color: rgba(255, 255, 255, 0.639);
    border-radius: 16px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 130px;
}

.ayudaInicioSesion {
    text-align: center;
}


.h6 {
    cursor: pointer;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

.h6:hover {
    cursor: pointer;
    color: #B81C00;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
}



.contenedorform1 {
    padding: 0rem;
    border-radius: 10px;

}




.perfil {
    margin-top: 5rem;
    color: #333;
    height: 46%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    width: 250px;
}

.profile {
    margin-bottom: 20px;
    margin-top: -12px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

#settings{
    text-align: center;
}
#profile{
    text-align: center;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: white;
}


.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    color: white;
}

.perfil {
    background-color: rgba(184, 28, 0, 1);
    height: 38VH; 
}



 


.main .card {
    max-width: 20rem;
    background-color: #ffffffa5;
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px; 
    margin: 0 auto;
}

.main .card table {
  
    border: none;
    font-size: 16px;
    height: 170px;
    
}
#direccion{
    text-align: center;
    font-family: Josefine;
    font-size: 1.5rem;
}
.texto-tabla{
    font-family: Josefine;
    font-size: 1rem; 
}
.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
@media screen and (max-width:768px) {
    .ajusteHeader{
        height:17.5vw;
       width: 1vw;
       
    }
    
}