.ajusteHeader{
    height: 9vw;
}

.icon-back{
    font-size: 4vw;
    margin-left: 5%;
    color: rgba(42, 46, 58, 1);
}


.icon-back:hover{
    color: #B81C00;
}



.productoCarne{
    margin: 5%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    align-items: center;

}

.btnCompra{
    color: white;
    background-color:rgba(42, 46, 58, 1);
    width: 80% ;
    border-radius: 20px;

    
}

.imagenContenedor{
    max-width: 500px;
    justify-self: center;
}

.imagen{
    width: 100%;
    display: block;
    
}


.precio{
    display: grid;
    grid-auto-flow: column;
    gap:3em;
}

.descripcion{
    margin-top: 7%;
}

@media (max-width:800px){
    .ajusteHeader{
        height: 20vw;
    }

    .icon-back{
        font-size: 8vw;
        margin-left: 5%;
        color: rgba(42, 46, 58, 1);
    }
    

    .productoCarne{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap:3em;
        text-align: justify;
        
    }
    .imagenContenedor{
        grid-row: 1/2;
        justify-self: center;
    }
    .productoTexto{
        margin:0 10%;
    }
}