/* Título movido a style.css */

#filtro1{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#filtro {
    color: white;
    background-color: #2A2E3A;
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width:768px) {
    #filtro1,
    #filtro {
        color: white;
        background-color: #2A2E3A;
        font-size: 0.7rem;
    }
}

@media (max-width:425px) {
    #filtro1,
    #filtro {
        color: white;
        background-color: #2A2E3A;
        font-size: 0.7rem;
    }
}

@media (max-width:1440px) {
    #filtro1,
    #filtro {
        color: white;
        background-color: #2A2E3A;
    }
}
