.fixheader {
    height: 6.4vw;
}

@font-face {
    font-family: MADEmirage;
    src: url(../font/MADE\ Mirage\ Regular.otf);
}

@font-face {
    font-family: Mirage-bold;
    src: url("../font/MADE-Mirage-Bold.otf")
}

@import url('https://fonts.cdnfonts.com/css/josefin-sans%27');




#Titulo1 {
    display: grid;
    width: auto;
    grid-template-rows: max-content;
    margin-bottom: 2rem;
    color: black;
    font-size: 2.25rem;
    margin-top: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

#Titulo2 {
    display: grid;
    width: auto;
    grid-template-rows: max-content;
    margin-bottom: 2rem;
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.p1 {
    font-family: 'Josefin Sans', sans-serif;
}

.p2 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

#btnAgregar {
    background: linear-gradient(180deg, #B81C00 40.88%, #7A1212 96.49%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    width: 100%;
    color: white;

}

input.form-control {
    border-radius: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.contenedorform {
    max-width: 30rem;
    width: 30rem;
    height: 45rem;
    background: rgba(217, 217, 217, 0.69);
    backdrop-filter: blur(3px);
    border-radius: 16px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.ayudaInicioSesion {
    text-align: center;
}

.h6 {
    cursor: pointer;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

.h6:hover {
    cursor: pointer;
    color: #B81C00;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
}

.fondoform {
    background-image: url(/assets/img/Carnes/fondo\ inicio.jpg);
    background-size: cover;

    background-position: left center;

}

.contenedorform1 {
    padding: 4.5rem;
    border-radius: 10px;

}