@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');


@font-face {
    font-family: MADEmirage;
    src: url(../font/MADE\ Mirage\ Regular.otf);
}

@font-face {
    font-family: Josefin;
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
}

@import url('https://fonts.cdnfonts.com/css/josefin-sans%27');


.espacio{

    overflow-x: hidden
}
.center {
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* Inicio Header */

/* * {background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%); } */

.bg-degradado { 
    background-color: black;
   background-image: url("https://res.cloudinary.com/dw1mig7ts/image/upload/b_rgb:000000,co_rgb:000000,dn_50,e_auto_saturation,o_39/v1684035406/filetes-ternera-crudos-especias-romero-vista-plana-vista-superior_rm1kri.jpg");
}


.title {
    margin-top: 5vw;
    height: 16vw;
    background-color: rgba(184, 28, 0, 1);
  }
  
  .title h1 {
    font-family: 'MADE Mirage';
    src: url(./fonts/MADE\ MIRAGE/);
    color: rgba(252, 247, 241, 1);
    padding-top: 11%;
    text-align: center;
    font-size: 4vw;
    font-weight: 400;
  }
  @media (min-width:800px) {
    .title {
      height: 8vw;
    }
  
    .contenedor {
      flex-direction: row;
      padding: 0 120px;
    }
  
    .title h1 {
      padding-top: 3%;
    }
  }

.intro {
    font-style: normal;
    color: rgba(255, 255, 255, 1);
    height: 18rem;
    align-items: center;
    text-align: center;
    font-size: 2.75rem;
   
}


.tituloPrimero {
    font-size: 7vw; 
    }
    
    .tituloSegundo {
    font-size: 2rem;
    margin: 2%;
    margin-top: 5%;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 5%; 
    margin-right: 5%;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.32px;
    line-height: 3rem;
    }

@media (max-width: 767px) {
    .tituloSegundo {
        font-size: 1.0rem;
        margin: 1%;
        margin-top: 3%;
        line-height: 2rem;
    }
    .bi-map{
        color: rgba(232, 212, 47, 1);
        font-size: x-large;
    }
    
    .bi-envelope{
        color: rgba(232, 212, 47, 1);
        font-size: 2rem;
    }
    .invisible {
        display: none;
    }
    .intro {
        height: 14rem !important;
       
    }
    .textCardDescription {
        font-size: 3.5vw; 
        
    }
}


.colorrojo {
    color: #B81C00;
}



/* Final de Header */

/* FIN CSS de la seccion [header] hecha por [caro] */
/* Inicio CSS de la seccion [cards] hecha por [angel] */
.img-foto{
    max-height: 30vw;
}
.textCardNombre {
   
    font-size: 4vw;
    font-family: 'MADE Mirage';
    src: url(./fonts/MADE\ MIRAGE/);
    text-align: center;
}
.textCardPuesto {
    font-size: 3vw;
    font-family: 'Josefin Sans';
    font-style: normal;
    text-align: center;
   
}

.textCardDescription {
    font-size: 3vw;
    font-family: 'Josefin Sans';
    font-style: normal;
    text-align: center;
   

}
.bg-card{
    
    background-color: #ffffff00!important;
    border-color: #ffffff00!important;
}
.bi-linkedin, .bi-github {
    font-size: 5vw;
    padding: 0.5rem;
}
.circle {
    /*border-color: #404040 #1f9896 #1f9896 #404040;*/
    /*border-bottom-color: #1f9896;*/
    /*border-bottom-width: 20px;*/
    /*border-left-color: #1f9896;*/
    /*border-left-width: 20px;*/

    /*border-style: solid;*/
    /*border-width: 20px;*/
    
    
    
    border:1vw solid transparent;
    /*
    background:url(./src/img/Untitled.png) center/100% 100% border-box;
    */
}
.aura{
    background-color: #9d251d;
  
    
}


a{
    text-decoration: none;
}
  
/* FIN CSS de la seccion [cards] hecha por [angel] */
/* Inicio CSS de la seccion [carrousel] hecha por [moy] */

/* FIN CSS de la seccion [carrousel] hecha por [moy] */
/* Inicio CSS de la seccion [footer] hecha por [mariano] */

 .encabezadofooter  {
    color: rgb(255, 255, 255);
    font-size: 2.0rem;
    font-family: 'Josefin Sans';
    font-style: normal;
  }

  .text-reset{
    text-decoration: none;
    font-size: 1.6rem;
  }

  .textofooter{
    font-family: 'Josefin Sans';
    font-style: normal;
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    
  }



.bi-map{
    color: rgba(232, 212, 47, 1);
    font-size: x-large;
    font-size: 2rem;
}

.bi-envelope{
    color: rgba(232, 212, 47, 1);
    font-size: x-large;
    font-size: 2rem;
}
.bi-lightbulb{
       color: rgba(232, 212, 47, 1);
        font-size: 2rem;
    }

@media (min-width:992px){
    .img-foto{
        max-height: 20vw;
    }
    .textCardNombre {
        font-size: 2vw;
    }
    .textCardPuesto {
        font-size: 1.2vw;
    }
    
    .textCardDescription {
        font-size: 1.2vw;
       
    }

    .bi-linkedin, .bi-github{
        font-size: 2vw;
        padding: 0.8rem;
    }
    
    
}

@media only screen and (max-width: 1199px) {
    .encabezadofooter  {
        color: rgb(254, 254, 254);
        font-size: 2rem;
        font-family: 'Josefin Sans';
        font-style: normal;
      }
    .bi-map{
        color: rgba(232, 212, 47, 1);
        font-size: 1.4rem;
    }
    
    .bi-envelope{
        color: rgba(232, 212, 47, 1);
        font-size: 2rem;
    } 

    .bi-lightbulb{
       color: rgba(232, 212, 47, 1);
        font-size: 2rem;
    }
    
    .invisible {
        display: block;
    }
    .text-reset{
        font-size: 1.2rem;
    }
    
    .textofooter{
        font-size:  1.2rem;
        text-decoration: none;
    }
    }
  





@media only screen and (max-width: 1024px) {
    .encabezadofooter  {
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        font-family: 'Josefin Sans';
        font-style: normal;
      }
.bi-map{
    color: rgba(232, 212, 47, 1);
    font-size: 1.4rem;
}

.bi-envelope{
    color: rgba(232, 212, 47, 1);
    font-size: 2rem;
} 

.invisible {
    display: block;
}
.text-reset{
    font-size: 1.2rem;
}

.textofooter{
    font-size:  1.2rem;
    text-decoration: none;
}

}




@media only screen and (min-width: 768px) {
    .encabezadofooter{
        font-size: .92rem;
    }
  
    }
  
    .text-reset{
        font-size:.8665rem;
    }

    .textofooter{
        font-size:.7rem;
        text-decoration: none;
    }
   
    .intro {
        height: 22rem;
   
    }
  
@media only screen and (max-width: 320px ) {
 
.bi-map{
    color: rgba(232, 212, 47, 1);
    font-size: 1.2rem;
}

.bi-envelope{
    color: rgba(232, 212, 47, 1);
    font-size: 2rem;
}

.invisible {
    display: none;
}
.encabezadofooter{
    font-size: 1rem;
}
.text-reset{
    font-size:.8665rem;
}

.textofooter{
    font-size:.9rem;
    text-decoration: none;
}
}

@media only screen and (max-width: 360px ) {

.bi-map{
    color: rgba(232, 212, 47, 1);
    font-size: x-large;
}

.bi-envelope{
    color: rgba(232, 212, 47, 1);
    font-size: 2rem;
}
.invisible {
    display: none;
}
}

@media only screen and (max-width: 375px ) {

.bi-map{
    color: rgba(232, 212, 47, 1);
    font-size: x-large;
}

.bi-envelope{
    color: rgba(232, 212, 47, 1);
    font-size: 2rem;
}

}

@media only screen and (max-width: 425px ) {

.bi-map{
    color: rgba(232, 212, 47, 1);
    font-size: x-large;
}

.bi-envelope{
    color: rgba(232, 212, 47, 1);
    font-size: 2rem;
}

.invisible {
    display: none;
}

}


@media (max-width:800px){
    .arreglotitulo{
        height: 8vw;
    }

}



/* FIN CSS de la seccion [footer] hecha por [mariano] */