/* Estilos globales compartidos para los banners de Título de todas las páginas */
.title {
    height: 16vw;
    background-color: rgba(184, 28, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-family: 'MADE Mirage';
    src: url(./fonts/MADE\ MIRAGE/);
    color: rgba(252, 247, 241, 1);
    text-align: center;
    font-size: 4vw;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@media (min-width: 800px) {
    .title {
        height: 8vw;
    }
}

/* Estilos de contenedor responsivo comunes */
@media (min-width: 800px) {
    .contenedor {
        flex-direction: row;
        padding: 0 120px;
    }
}